@if (adcData || alwaysShow) {
    <div class="table-responsive">
        <table class="table table-sm table-bordered">
            <thead class="table-primary">
                <tr>
                    <th class="text-center w-4p"> </th>
                    <th class="text-center w-12p">Ia (mA)</th>
                    <th class="text-center w-12p">Ia comp (mA)</th>
                    <th class="text-center w-12p">Is (mA)</th>
                    <th class="text-center w-12p">Is comp (mA)</th>
                    <th class="text-center w-12p">Va (V)</th>
                    <th class="text-center w-12p">Vs (V)</th>
                    <th class="text-center w-12p">Vpower (V)</th>
                    <th class="text-center w-12p">Vneg (V)</th>
                </tr>
            </thead>
            <tbody>
                @if (details) {
                    <tr>
                        <td class="text-center w-4p">HEX</td>
                        <td class="text-center w-12p">{{adcData ? adcData!.plateCurrentRawBytes[0].toString(16).padStart(2, '0').toUpperCase() : '00'}}{{adcData ? adcData!.plateCurrentRawBytes[1].toString(16).padStart(2, '0').toUpperCase() : '00'}}</td>
                        <td class="text-center w-12p">{{adcData ? adcData!.plateCurrentBytes[0].toString(16).padStart(2, '0').toUpperCase() : '00'}}{{adcData ? adcData!.plateCurrentBytes[1].toString(16).padStart(2, '0').toUpperCase() : '00'}}</td>
                        <td class="text-center w-12p">{{adcData ? adcData!.screenCurrentRawBytes[0].toString(16).padStart(2, '0').toUpperCase() : '00'}}{{adcData ? adcData!.screenCurrentRawBytes[1].toString(16).padStart(2, '0').toUpperCase() : '00'}}</td>
                        <td class="text-center w-12p">{{adcData ? adcData!.screenCurrentBytes[0].toString(16).padStart(2, '0').toUpperCase() : '00'}}{{adcData ? adcData!.screenCurrentBytes[1].toString(16).padStart(2, '0').toUpperCase() : '00'}}</td>
                        <td class="text-center w-12p">{{adcData ? adcData!.plateVoltageBytes[0].toString(16).padStart(2, '0').toUpperCase() : '00'}}{{adcData ? adcData!.plateVoltageBytes[1].toString(16).padStart(2, '0').toUpperCase() : '00'}}</td>
                        <td class="text-center w-12p">{{adcData ? adcData!.screenVoltageBytes[0].toString(16).padStart(2, '0').toUpperCase() : '00'}}{{adcData ? adcData!.screenVoltageBytes[1].toString(16).padStart(2, '0').toUpperCase() : '00'}}</td>
                        <td class="text-center w-12p">{{adcData ? adcData!.positivePowerSupplyVoltageBytes[0].toString(16).padStart(2, '0').toUpperCase() : '00'}}{{adcData ? adcData!.positivePowerSupplyVoltageBytes[1].toString(16).padStart(2, '0').toUpperCase() : '00'}}</td>
                        <td class="text-center w-12p">{{adcData ? adcData!.negativePowerSupplyVoltageBytes[0].toString(16).padStart(2, '0').toUpperCase() : '00'}}{{adcData ? adcData!.negativePowerSupplyVoltageBytes[1].toString(16).padStart(2, '0').toUpperCase() : '00'}}</td>
                    </tr>
                    <tr>
                        <td class="text-center w-4p">DEC</td>
                        <td class="text-center w-12p">{{adcData?.plateCurrentRawValue || 0}}</td>
                        <td class="text-center w-12p">{{adcData?.plateCurrentValue || 0}}</td>
                        <td class="text-center w-12p">{{adcData?.screenCurrentRawValue || 0}}</td>
                        <td class="text-center w-12p">{{adcData?.screenCurrentValue || 0}}</td>
                        <td class="text-center w-12p">{{adcData?.plateVoltageValue || 0}}</td>
                        <td class="text-center w-12p">{{adcData?.screenVoltageValue || 0}}</td>
                        <td class="text-center w-12p">{{adcData?.positivePowerSupplyVoltageValue || 0}}</td>
                        <td class="text-center w-12p">{{adcData?.negativePowerSupplyVoltageValue || 0}}</td>
                    </tr>
                }
                <tr>
                    <td class="text-center w-4p">VAL</td>
                    <td class="text-center w-12p">{{adcData?.plateCurrentRaw?.toFixed(3) || '0'}}</td>
                    <td class="text-center w-12p">{{adcData?.plateCurrent?.toFixed(3) || '0'}}</td>
                    <td class="text-center w-12p">{{adcData?.screenCurrentRaw?.toFixed(3) || '0'}}</td>
                    <td class="text-center w-12p">{{adcData?.screenCurrent?.toFixed(3) || '0'}}</td>
                    <td class="text-center w-12p">{{adcData?.plateVoltage?.toFixed(3) || '0'}}</td>
                    <td class="text-center w-12p">{{adcData?.screenVoltage?.toFixed(3) || '0'}}</td>
                    <td class="text-center w-12p">{{adcData?.positivePowerSupplyVoltage?.toFixed(3) || '0'}}</td>
                    <td class="text-center w-12p">{{adcData?.negativePowerSupplyVoltage?.toFixed(3) || '0'}}</td>
                </tr>
                @if (details) {
                    <tr>
                        <td class="text-center w-4p"></td>
                        <td colspan="2" class="text-center w-24p">Plate Current Gain: {{adcData?.plateCurrentGain || '0'}}</td>
                        <td colspan="2" class="text-center w-24p">Screen Current Gain: {{adcData?.screenCurrentGain || '0'}}</td>
                        <td colspan="2" class="text-center w-24p">Plate Current Average: {{adcData?.plateCurrentAverage || '0'}}</td>
                        <td colspan="2" class="text-center w-24p">Screen Current Average: {{adcData?.screenCurrentAverage || '0'}}</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}