@if (adcData || alwaysShow) {
    <div class="table-responsive">
        <table class="table table-sm table-bordered">
            <thead class="table-primary">
                <tr>
                    <th class="text-center w-4p"> </th>
                    <th class="text-center w-12p">Ia (mA)</th>
                    <th class="text-center w-12p">Ia comp (mA)</th>
                    <th class="text-center w-12p">Is (mA)</th>
                    <th class="text-center w-12p">Is comp (mA)</th>
                    <th class="text-center w-12p">Va (V)</th>
                    <th class="text-center w-12p">Vs (V)</th>
                    <th class="text-center w-12p">Vpower (V)</th>
                    <th class="text-center w-12p">Vneg (V)</th>
                </tr>
            </thead>
            <tbody>
                @if (details) {
                    <tr>
                        <td class="text-center w-4p">HEX</td>
                        <td class="text-center w-12p">{{adcData ? adcData!.plateCurrentRawBytes[0].toString(16).padStart(2, '0').toUpperCase() : '00'}}{{adcData ? adcData!.plateCurrentRawBytes[1].toString(16).padStart(2, '0').toUpperCase() : '00'}}</td>
                        <td class="text-center w-12p">{{adcData ? adcData!.plateCurrentBytes[0].toString(16).padStart(2, '0').toUpperCase() : '00'}}{{adcData ? adcData!.plateCurrentBytes[1].toString(16).padStart(2, '0').toUpperCase() : '00'}}</td>
                        <td class="text-center w-12p">{{adcData ? adcData!.screenCurrentRawBytes[0].toString(16).padStart(2, '0').toUpperCase() : '00'}}{{adcData ? adcData!.screenCurrentRawBytes[1].toString(16).padStart(2, '0').toUpperCase() : '00'}}</td>
                        <td class="text-center w-12p">{{adcData ? adcData!.screenCurrentBytes[0].toString(16).padStart(2, '0').toUpperCase() : '00'}}{{adcData ? adcData!.screenCurrentBytes[1].toString(16).padStart(2, '0').toUpperCase() : '00'}}</td>
                        <td class="text-center w-12p">{{adcData ? adcData!.plateVoltageBytes[0].toString(16).padStart(2, '0').toUpperCase() : '00'}}{{adcData ? adcData!.plateVoltageBytes[1].toString(16).padStart(2, '0').toUpperCase() : '00'}}</td>
                        <td class="text-center w-12p">{{adcData ? adcData!.screenVoltageBytes[0].toString(16).padStart(2, '0').toUpperCase() : '00'}}{{adcData ? adcData!.screenVoltageBytes[1].toString(16).padStart(2, '0').toUpperCase() : '00'}}</td>
                        <td class="text-center w-12p">{{adcData ? adcData!.powerSupplyVoltageBytes[0].toString(16).padStart(2, '0').toUpperCase() : '00'}}{{adcData ? adcData!.powerSupplyVoltageBytes[1].toString(16).padStart(2, '0').toUpperCase() : '00'}}</td>
                        <td class="text-center w-12p">{{adcData ? adcData!.negativeVoltageBytes[0].toString(16).padStart(2, '0').toUpperCase() : '00'}}{{adcData ? adcData!.negativeVoltageBytes[1].toString(16).padStart(2, '0').toUpperCase() : '00'}}</td>
                    </tr>
                    <tr>
                        <td class="text-center w-4p">DEC</td>
                        <td class="text-center w-12p">{{adcData ? adcData!.plateCurrentRaw : 0}}</td>
                        <td class="text-center w-12p">{{adcData ? adcData!.plateCurrent : 0}}</td>
                        <td class="text-center w-12p">{{adcData ? adcData!.screenCurrentRaw : 0}}</td>
                        <td class="text-center w-12p">{{adcData ? adcData!.screenCurrent : 0}}</td>
                        <td class="text-center w-12p">{{adcData ? adcData!.plateVoltage : 0}}</td>
                        <td class="text-center w-12p">{{adcData ? adcData!.screenVoltage : 0}}</td>
                        <td class="text-center w-12p">{{adcData ? adcData!.powerSupplyVoltage : 0}}</td>
                        <td class="text-center w-12p">{{adcData ? adcData!.negativeVoltage : 0}}</td>
                    </tr>
                }
                <tr>
                    <td class="text-center w-4p">VAL</td>
                    <td class="text-center w-12p">{{adcData ? uTracerService.readPlateCurrentRaw(adcData, averaging).toFixed(3) : '0'}}</td>
                    <td class="text-center w-12p">{{adcData ? uTracerService.readPlateCurrent(adcData, averaging).toFixed(3) : '0'}}</td>
                    <td class="text-center w-12p">{{adcData ? uTracerService.readScreenCurrentRaw(adcData, averaging).toFixed(3) : '0'}}</td>
                    <td class="text-center w-12p">{{adcData ? uTracerService.readScreenCurrent(adcData, averaging).toFixed(3) : '0'}}</td>
                    <td class="text-center w-12p">{{adcData ? uTracerService.readPlateVoltage(adcData, averaging).toFixed(3) : '0'}}</td>
                    <td class="text-center w-12p">{{adcData ? uTracerService.readScreenVoltage(adcData, averaging).toFixed(3) : '0'}}</td>
                    <td class="text-center w-12p">{{adcData ? uTracerService.readPowerSupplyVoltage(adcData).toFixed(3) : '0'}}</td>
                    <td class="text-center w-12p">{{adcData ? uTracerService.readNegativeVoltage(adcData).toFixed(3) : '0'}}</td>
                </tr>
                @if (details) {
                    <tr>
                        <td class="text-center w-4p"></td>
                        <td colspan="2" class="text-center w-24p">Plate Current Gain: {{adcData ? uTracerService.readGain(adcData!.plateCurrentGain) : '0'}}</td>
                        <td colspan="2" class="text-center w-24p">Screen Current Gain: {{adcData ? uTracerService.readGain(adcData!.screenCurrentGain) : '0'}}</td>
                        <td colspan="2" class="text-center w-24p">Plate Current Average: {{adcData ? uTracerService.readAverage(adcData!.plateCurrentGain, averaging) : '0'}}</td>
                        <td colspan="2" class="text-center w-24p">Screen Current Average: {{adcData ? uTracerService.readAverage(adcData!.screenCurrentGain, averaging) : '0'}}</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}